
body{
    font-family: Roboto-Medium;
	background-color:#E1E1E1;
}
.header {
  width: 100%; 
  background-color: #4A90E2 ;
  height: 80px ;
  text-align: center;
  
  font-size: 0;
}

.page {
  
  font-size: 24px;
  color:#00408B;
  text-align: center;
  display: inline-block;
  padding: 28px 0px;
  height: 80px;
  width: 220px;

}
.page:hover{
  cursor: pointer;
  color: white;
  border-bottom: 5px solid #00408B
}

.contant {

	text-align: center;
    padding: 50px 250px ;
}

.addtask {
   width: 100%;
   height: 65px;
   text-indent: 25px;
   border: 2px solid #C8C8C8;
   border-radius: 5px;
   margin-bottom: 50px;
   font-size: 24px;
   text-align-last: left; ;
   color: #C8C8C8;
}
.task {
    text-align: right;
	background: #F2F2F2;
    border-radius: 5px 5px 0 0;
    padding: 24px 28px; 
    margin-bottom: 20px 
}

.task:hover{
	background: #FFF2DC;
}

.fa-square{
    color: #fff;
	font-size: 24px;
	cursor: pointer;
	float: left ;
}

.fa-square span{
    color: #000000;
	font-size: 24px;
	margin-left: 20px;
	cursor: auto;
	
}

.fa-pencil-alt{
    color: #000000;
	font-size: 24px;
	cursor: pointer;
	margin-left: 30px;
	
}

.fa-star{
    color: #000000;
	font-size: 24px;
	cursor: pointer;
}

.fa-pencil-alt:hover{
	color: #4A90E2;
}

.fa-star:hover{
   color: #F5A623;
}

.task-box{
	margin: -20px 0 20px; 
	box-shadow: 0 4px 4px 0 #C8C8C8;
}

.task-detail {
  padding: 30px 70px 0;
  background: #F2F2F2;
  border-radius: 5px;
  border-top: 2px solid #C8C8C8; 
  text-align: left;
} 
.fa-calendar-alt{

	color: #000000;
	font-size: 17px;
}

.fa-calendar-alt span{
   font-size: 20px;
    color: #000000;
	margin-left: 20px;
	font-weight: bold;
	
}
.dateline {

   padding: 15px;
  
  margin-left: 20px

}

.dateline  input{

  background: #FFFFFF;
  border-radius: 2px;
  border: 0;   
  font-size: 16px;
  color: #C8C8C8;
  padding: 8px 15px;

}

.fa-file{
    font-size: 17px;
	color: #000000;
}

.fa-file span{
   font-size: 20px;
    color: #000000;
	margin-left: 20px;
	font-weight: bold;
}

.addfile button{
	background: #C8C8C8;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    color: #fff;
    margin: 12px 35px;
    font-size: 18px;
    cursor: pointer;
}

.fa-comment-dots{
    font-size: 17px;
	color: #000000;

}

.fa-comment-dots span{
   font-size: 20px;
    color: #000000;
	margin-left: 20px;
	font-weight: bold;
	
}

.comment{
	margin-top: 20px
}
.memo{
	padding: 15px 35px
}
.memo input {
    padding: 10px 0 65px 15px;
	width: 100%;
	height: 120px;
}

.buttongroup {
	width: 100% ;
    font-size: 0;

}

.cancel{
	width: 50%;
	display: inline-block;
	font-size: 24px;
    color: #D0021B;
     height: 60px;
     border: 0;
     cursor: pointer;
}

.add{
	width: 50%;
	display: inline-block;
	font-size: 24px;
color: #fff;
background: #4A90E2;
height: 60px;
border: 0;
cursor: pointer;

}

.task-annotation {
	text-align: left;
	padding: 20px 35px 0;
}
.task-annotation i{
   font-size: 16px;
   color: #757575;
	margin-right: 10px
}

.task-annotation span{
   font-size: 16px;
   color: #757575;
	margin-right: 10px
}

.fa-check-square{
	font-size: 24px;
	color: #4A90E2;
	float: left;
}

.fa-check-square span {
	font-size: px;
    color: #9B9B9B;
	margin-left: 24px;
	font-weight: bold;
	text-decoration:line-through;
}














